<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link rel="manifest" href="../manifest.json">
    <link href="../lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <script src="../lib/ionic/js/ionic.bundle.js"></script>
    <script src="../cordova.js"></script>
    <script src="../js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-stable bar-assertive">
        <a href="#"></a>
        <h1 class="title">Información</h1>
        <a href="../index.html" class="button  ion-ios-home"></a>
      </ion-header-bar>

    <ion-content>
      <div class="card">
        <div class="item item-divider">
          <h3>Información sobre la APP</h3>
        </div>
        <div class="item item-text-wrap">
           Por cualquier consulta o sugerencia <br>enviar un correo a "mesasistemasexa@gmail.com".<br>
           Recordar que los horarios estan sujetos a modificaciones y dependen
           exclusivamente de la página de la Fa.C.E.N.A.<br>
           Además recordá que para la inscripción a la mesa, debes hacerlo 3 días hábiles antes de la misma.

        </div>
      </div>
    </ion-content>


      <div class=" bar bar-footer bar-dark tabs tabs-striped tabs-icon-left">
          <a class="tab-item" href="mesas.html">
            <i class="icon ion-android-calendar"></i>
            Mesas
          </a>
          <a class="tab-item" href="interes.html">
            <i class="icon ion-link"></i>
            S. Interés
          </a>
          <a class="tab-item" href="correlativas.html">
            <i class="icon ion-network"></i>
            Correlativas
          </a>
      </div>
    </ion-pane>
  </body>
</html>
